transformers==4.18.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.9.1+cu111
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.10.1+cu111
requests==2.27.1
tqdm==4.63.1
unidecode==1.3.4