transformers==4.29.2
tiktoken==0.3.3
google-search-results==2.4.2
flask==2.2.5
flask_cors==3.0.10
waitress==2.1.2
speechbrain==0.5.14
datasets==2.11.0
timm==0.6.13
typeguard==2.13.3
accelerate==0.18.0
pytesseract==0.3.10
gradio==3.26.0
librosa==0.8.0
tensorflow==2.11.0
tensorflow_probability==0.19.0
tensorboardX==2.6
pyloudnorm==0.1.1
g2p_en==2.1.0
inflect==5.3.0
pydantic==1.8.2
webrtcvad==2.0.10
scikit-learn==0.24.1
scikit-image==0.16.2
textgrid==1.5
jiwer==3.0.1
pycwt==0.3.0a22
praat-parselmouth==0.3.3
jieba==0.42.1
einops==0.6.1
pretty-midi==0.2.9
h5py==3.1.0
pypinyin==0.39.0
g2pM==0.1.2.5
cnsenti==0.0.7
midiutil==1.2.1
miditoolkit==0.1.16
textblob==0.17.1
basic-pitch==0.2.5
hydra-core==1.0.7
ddsp==1.6.0
torch==1.12.1
fairseq==0.12.0
demucs==4.0.0
